@mixin entradas(){
    padding: 8px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

@mixin botao_login(){
    margin-left: 100px;
    padding: 8px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@mixin centro(){
    display: grid;
    place-items: center;
    margin-top: calc(100% - 85%);
}
